<center>Welcome to Anna and Rob's calculator
what are the numbers you would like to input?
<form method="post" action="gettingnumbers">
<input type="number" name="num1" step="any"><br>
<input type="number" name="num2" step="any"><br>
<input type="radio" name="operator" value="+">add<br>
<input type="radio" name="operator" value="-">subtract<br>
<input type="radio" name="operator" value="*">multiply<br>
<input type="radio" name="operator" value="/">divide<br>
<input type="submit"></form></center>